{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{% static 'pwa/manifest.json' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <title>Flowers</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Belleza&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jura:wght@300..700&family=Kdam+Thmor+Pro&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>

    <nav id="nav-menu">
        <h1 id="menu-arrow">Menu &larr;</h1>
        <div>
            <a href="{% url 'index' %}" class="menu-item">Головна</a>
            <a href="{% url 'articles' %}" class="menu-item">Статті</a>
            <a href="{% url 'plants' %}" class="menu-item">Рослини</a>
            <a href="{% url 'settings' %}" class="menu-item">Налаштування</a>
        </div>
    </nav>

    <header>
        <div id="menu"><img src="{% static 'images/menu.png' %}" alt=""></div>
        <a href="{% url 'index' %}" class="header-title">MyPlants</a>

        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="person"><img src="{% static 'images/person.png' %}" alt=""></a>   
        {% else %}
            <a href="{% url 'login' %}" class="login-button">Login</a>
        {% endif %}
        
    </header>

    <main>
        <h1 class="main-title">My Plants</h1>
        {% for user_plant in user_plants %}
            <div class="plant-card">
                <p>{{ user_plant.id }}</p>
                <h2>{{ user_plant.name }}</h2>
                <p>{{ user_plant.description }}</p>
                <p>{{ user_plant.care_instructions }}</p>
                <p>Частота поливу: {{ user_plant.watering_frequency_days }} days</p>
                <p>Востаннє полито: {{ user_plant.last_watered }}</p>
                <p>Стан: {{ user_plant.state }}</p>
                

            </div>
        {% endfor %}

        <a class="add-plant-button">Add New Plant</a>
    </main>

    

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>